@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import 'components/prediction-card';
@import 'components/prediction-stock-table';
@import 'components/prediction-stock-row';
@import 'components/buy-stock-modal';
@import 'components/sell-stock-modal';

body {
  font-family: 'Lato', sans-serif !important;
}

.ember-modal-dialog {
  background-color: transparent;
  border-radius: 0;
  box-shadow: 0 0 0 0 darkgray;
}