<br>
<div class="container">
  <div class="row">
    {{#each data as |prediction|}}
      <div class="col-4">
        {{prediction-card prediction=prediction}}
      </div>
    {{/each}}
  </div>
</div>